  
    <div class="view intro-2">
        <div class="full-bg-img">
            <div class="mask rgba-purple-light">
                <div class="container text-center wow fadeInUp" >
                    <div class="row">
                      <div class="col-md-3">
                        <app-cards [ContentText]="'Apple'" [ImageText]="'../assets/img/apple.jpg'"></app-cards>
                      </div>
                      <div class="col-md-3">
                        <app-cards [ContentText]="'Orange'" [ImageText]="'https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg'"></app-cards>
                      </div>
                      <div class="col-md-3">
                        <app-cards [ContentText]="'Graps'" [ImageText]="'https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg'"></app-cards>
                      </div>
                      <div class="col-md-3">
                        <app-cards [ContentText]="'Banana'" [ImageText]="'https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg'"></app-cards>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

      <!--Main Navigation-->
  
  <!--Main Layout-->
  <!-- <main class="text-center py-5">
  
    <div class="container">
    </div> 
  
  </main> -->